@use '../base/variables' as *;
@import '../base/media';


header{

    display: grid;
    grid-template-columns: repeat(18, minmax(auto, 1fr));
    grid-template-rows: repeat(13, minmax(auto, 1fr));
    color: $white;
    position: relative;

    .nav-overlay {
        display: none;
        

        ul {
            list-style: none;
            font-family: 'josefin';
            
        }
        
        li a {
            text-decoration: none;
            color: $white;
            font-size: 35px;
            font-weight: 300;
            margin: 3%;
        }
        

    }

    .hero-bg {
        position: fixed;
        grid-column: span;
        grid-row: span;
        width: 100vw;
        height: 99vh;
        z-index: -9;
        background-color: $black;
        background-image: url(assets/images/desktop/image-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hlogo {
        grid-column: 3/5;
        grid-row: 2;
        align-self: center;
    }


    .nav-links {
        grid-column: 11/17;
        grid-row: 2;
        display: flex;
        
        list-style: none;
        justify-content: space-between;
        align-items: center;
        font-family: 'alata';
        margin: 2%;

        li {
            flex: 0 0 auto;
            margin-right: 4%;
        }

        a {
            color: $white;
            text-decoration: none;
            font-size: 16px;
            transition: ease-in;
            transition: 0.3s;
            
            &:hover {
                padding-bottom: 10%;
                border-bottom: 2px solid $white;
            }
        }
    }

    .hero-box {
        grid-column: 3/10 ;
        grid-row: 5/10;
        display: flex;
        flex-wrap: wrap;
        font-size: 35px;
        letter-spacing: 2px;
        text-align: left;
        border-style: solid;
        margin: 2%;
        padding: 5%;
        

    }

    @include media("<=tablet") {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr 1fr;

        .hero-bg {
            width: 100vw;
            height: 100vh;

            background-image: url(assets/images/mobile/image-hero.jpg);

            background-size: cover;
            background-position: center;
        }

        .nav-links {
            display: none;
        }

        .nav-overlay {
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-template-columns: 3fr 1fr;
            position: fixed;
            background-color: $blackA;
            width: 100vw;
            height: 100vh;
            z-index: 9;

            .nav-links-o {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                grid-row: 2/4;
            }


            img {
                margin: 10%;
                margin-top: 18%;
                
                width: 65%;
                height: auto;
                grid-row: 1;
            }

            .close-o {
                grid-row: 1;
                cursor: pointer;
                width: 50%;
                height: auto;
                margin: 20%;
                margin-top: 45%;
                justify-self: end;
                align-self: top;
                
            }
            clip-path: circle(0px at 88% 8%);
            -webkit-clip-path: circle(0px at 90% 10%);
            transition: all 1s ease-out;
            pointer-events: none;
        }
        .nav-overlay.open {
            clip-path: circle(1000px at 90% -10%);
            -webkit-clip-path: circle(1000px at 90% -10%);
            pointer-events: all;
        }

        .burger {
            position: absolute;
            cursor: pointer;
            right: 5%;
            top: 7%;

            .bline {
                width: 30px;
                height: 3px;
                background-color: $white;
                margin: 5px;
            }
            
        }

        .hlogo {
            grid-column: 1;
            grid-row: 1/2;
            margin: 5%;
        }

        .hero-box {
            grid-column: 1;
            grid-row: 3/5;
            margin: 1.5%;
        
            font-size: 28px;
        }

        
        
    }

}