@use 'variables' as *;

h1 {
    font-family: $alata;
    font-weight: 400;
}
h2 {
    //header logo
    font-family: $josefin;
    font-weight: 300;
    margin: 3%;
}

p {
    font-family: $alata;
    font-weight: 400;
}

body{
    font-family: $josefin;
    font-weight: 300;
    font-size: 15px;
}