
//colors//

//primary

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$blackA:hsl(0, 0%, 0%, 0.97);
$dark-grey: hsla(0, 0%, 55%);
$dark-greyA:hsla(0, 0%, 55%, 0.3);
$v-dark-grey: hsl(0, 0%, 41%);

//neutral

//typeography//

$alata: 'alata', sans-serif;

$josefin: 'josefin', sans-serif;


